@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme { --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
@layer base{
    :root{
        --background: #F8F8F8;
        --alt-background: #EAEAEA;
        --extreme-background: #FFFFFF;
        --extreme-foreground: #000000;
        --foreground: #3F3E3E;
        --alt-foreground: #1E1E1E;
        --primary-color: #8D1E8D;
        --secondary-color: #008000;
        --median-color: #AEAEAE;
        --logo-bg: #F1F1F1;
    }
    body{
        @apply bg-background text-foreground;
    }
}
@media(prefers-color-scheme: dark){
    :root{
        --background: #1E1E1E;
        --alt-background: #151515;
        --extreme-background: #000000;
        --extreme-foreground: #FFFFFF;
        --foreground: #F1F1F1;
        --alt-foreground: #F8F8F8;
        --secondary-color: #008000;
        --median-color: #5E5E5E;
        --logo-bg: #AAAAAA;
    }
}
@theme {
    --color-background: var(--background);
    --color-foreground: var(--alt-foreground);
    --color-primary: var(--primary-color);
    --color-extreme-background: var(--extreme-background);
    --color-alt-background: var(--alt-background);
    --color-median: var(--median-color);
    --color-logo-bg: var(--logo-bg);
    --color-secondary: var(--secondary-color);
}
.nav{
    @apply flex flex-col gap-2;
}
.nav button{
    @apply leading-8 rounded-sm px-4 py-2 flex flex-row gap-3 items-center;
}
.nav button span{
    @apply text-nowrap;
}
.nav button:hover{
    @apply cursor-pointer;
}
.rotate{
    @apply rotate-90;
}
.container{
    @apply flex flex-col gap-3;
}
.field-group input{
    @apply border-1 border-green-700 w-fit;
}
.field-group label{
    @apply flex flex-row gap-4;
}
.container label span{
    @apply text-red-500;
}
.field-group{
    @apply flex flex-col gap-2;
}
.buttons{
    @apply w-full flex flex-row justify-between p-8 pb-12;
}
.buttons button{
    @apply px-8 py-2 rounded-md;
}
.field-switcher button {
    @apply px-4 py-2 cursor-pointer bg-[#f0f0f0] border border-[#ccc];
}

.field-switcher button.active {
    @apply bg-[#0FC25D] text-white;
}

.active-input-wrapper {
    @apply mt-5 p-[15px] border border-[#ddd];
}
.group-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff; /* Clean white card look */
}

.group-input-display {
    padding-top: 10px;
}

/* Ensure standalone fields within the display have some breathing room */
.group-input-display .field-group {
    margin-bottom: 15px;
}

